/* SimpleTabs: default style */
div.abas {
    padding:0px;
    margin-top: 15px;
}

ul.simpleTabsNavigation {

    margin:0px;
    margin-bottom:-2px;
    padding:0px;
    text-align:left;    
}

ul.simpleTabsNavigation li {
    list-style:none;
    display:inline;
    margin:0;
    padding:0;
}

ul.simpleTabsNavigation li a {
    display: inline-block;
    text-decoration: none;
    color: #A4A4A4;
    padding: 7px 14px 4px 14px; 
    cursor: default;
    background-color: #f1f1f1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

ul.simpleTabsNavigation li a:hover {   
    color: #3D3D3D;
    background-color: #CCCCCC;
}

ul.simpleTabsNavigation li a.current {
    background:#FFFFFF;
    border: 1px solid #D5D9DE;
    border-bottom:1px solid #fff;
    
}

div.simpleTabsContent {
    border:1px solid #D5D9DE;
    padding:10px 10px 10px 10px;;
    margin-top:1px;
    margin-bottom: 4%;
    display:none;
    background-color: #FFFFFF;
}

div.simpleTabsContent:before,
div.simpleTabsContent:after {
  content: " ";
  display: table;
}

div.simpleTabsContent:after {
  clear: both;
}

div.simpleTabsContent {
  *zoom: 1;
}

div.simpleTabsContent.currentTab {
    display:block;
}

.cor-na-coluna .conteudo{
    background: #F3F3F3;
}