#ie5menu {
	BACKGROUND-COLOR: #1e90ff;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 7.8pt;
	FONT-WEIGHT: bold;
	COLOR: #FFFFFF;
	LINE-HEIGHT: 13px;
	POSITION: absolute;
	VISIBILITY: hidden;
	WIDTH: 114px
}

.menuitems {
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px
}