.maquina {
	font-size: 18px;
	width: 250px;
	height: auto;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0
		rgba(0, 0, 0, 0.15);
	margin: 4px;
	padding: 10px;
	border: thin solid #eee;
}

.maquina.detalhes {
	font-size: 18px;
	min-width: 320px;
	width: 40%;
	margin: 0 auto !important;
	display: block;
	height: auto;
}

.maquina.detalhes .maquina-icone svg{
	max-width: 80px;
	width: 100%;
	display: block;
	margin: 0 auto;
}

hr {
	border: none;
	border-bottom: 1px solid #eee;
	height: 0;
}

.maquina:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 0px 0
		rgba(0, 0, 0, 0.3);
	border: thin solid #ccc;
	cursor: pointer;
}

.maquina-titulo, .maquina-usuario {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	direction: ltr;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	width: 100%;
}

.maquina-titulo {
	font-size: 1em;
	text-transform: uppercase;
	color: #999;
	text-align: center;
}

.maquina-icone {
	width: 30%;
	height: auto;
	box-sizing: border-box;
	padding: 4px;
	float: left;
}

.maquina-info {
	width: 70%;
	box-sizing: border-box;
	padding: 4px;
	text-align: right;
	float: right;
}

.maquina-usuario {
	font-size: 0.875em;
	color: #bbb;
	width: 100%;
	box-sizing: border-box;
}

.maquina-tempo {
	font-size: 0.875em;
	color: #999;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 10px;
}

.maquina-tempo-total {
	width: 48%;
	float: left;
	text-align: left;
}

.maquina-tempo-restante {
	font-weight: bold;
	width: 51%;
	float: right;
	text-align: right;
}