@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo usado para formatar a barra de Identidade Visual do Governo Federal.
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
#barra-governo{
    width: 100%;
    height: 32px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #dfdfdf;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
#barra-governo a{
    color: #5e6469;
    text-decoration: none;
    padding: 7px 12px 9px 13px;
    border-left: 2px solid #dfdfdf;
}
#barra-governo a:first-child{
    border-left: none;
}
/*
    Menu de acessibilidade (Versão antiga)
*/
.atalhos-acessibilidade a{
    padding: 0px 10px 0px 10px !important;
    border: 2px solid #dfdfdf;
    opacity: 0;
    position: absolute;
    top:-480px; 
}
.atalhos-acessibilidade a:focus{
    position: absolute;
    top:32px;
    opacity: 1;
    background-color: #DFDFDF;
}
.atalhos-acessibilidade a:first-child:before{
    content: "Pular a barra do Governo ";
}
.atalhos-acessibilidade a:before{
    content: "Ir para o ";
}
.atalhos-acessibilidade a:after {
    content: " [Alt+" attr(accesskey)"]";
}
/*
    Menu de acessibilidade
*/
.acessibilidade{
    position:relative;
    top:32px;
    width: 100%;
    padding-top:8px;
    margin-bottom: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:0.75em;
    border: none;
}.acessibilidade.exemplo{
    position: inherit;
    top:auto;
}.acessibilidade a{
    display: inline-block;
    margin:0 0 8px 0;
    padding:2px 0px 2px 4px;
    color:#000 !important;
    background:rgba(245, 245, 245,.75);
}.acessibilidade a:hover,.acessibilidade a:focus{
    background:#fff;
    text-decoration: none
}.acessibilidade a:hover > b,.acessibilidade a:focus > b{
    background:#000
}.acessibilidade b{
    color:#fff;
    padding:1px 4px;
    margin: 1px;
    background:#353C47;
    font-weight:normal
}.acessibilidade b.icone{
    margin:0px 3px -4px -3px;
    display: inline-block;
    height: 15px;
    width: 16px;
    background: #000 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAIAAADZrBkAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUREQjgyM0Q4NDdBMTFFNTg3Qjc4NjNBNTk3RTJDRjgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUREQjgyM0U4NDdBMTFFNTg3Qjc4NjNBNTk3RTJDRjgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxRERCODIzQjg0N0ExMUU1ODdCNzg2M0E1OTdFMkNGOCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxRERCODIzQzg0N0ExMUU1ODdCNzg2M0E1OTdFMkNGOCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqdGPEEAAAJISURBVHjanFPPbxJBFJ4ZdgdKoam7K6UXuome8GaVvwCOnEhqvVAO9lRPXNULxdB/wF7qva030os0xXK1N0uTSlITa2NJpWBWQMH95ZuZsmmJF307O9nM+743773vLUYIybKM/sVM08TAwQTbto0RexzbIYSAz0UuxvgK6CJwsSPkSrLkWA6ilDKvWAhRmZ6cfGo2myIFcAmvh4EPoLAMIQBcCAtw8fg9l5kTCAYYjZ9fXwAGCuEhsZe3oil71b1QaGrwcyACjZkAE/Htnfb7/dPPp/1+j1XkQC3uX7vCaBLlneSI+ofDOV2PRGcoN0zIGEHmYMm7C1iZTObXcNDr9t5sbbfa7QlKs0vZTuf79Wx9hJiCZpq/IZ9UKlUsvszllqhfLpfLjUaDEBzTdcP4weQZMU3LZDfxRkPrUK1WW15+cnz88dmL54kHDw3DAPQMZCvTZDIpusoU8suO5TIBKJUXFxY2Nl4LoVjF3AAHe7X6buXpiidGIOgfCYCwfvfO2dkXNOI53CBz2NfWSouPHovGghHiCYBRbX///vy88Imowq2q6nA4PD//mk6noXifz3elCNwoBqKyu5vP58faXam8zeZyiUSi2+0WCgXIeWIyyNoBbygcBEQsNndYr5dKJU1R+JTFyzs7m5tbgh+NRkUFoelJNv2gqWVbfAzd8FR4/dW6otz61rrUVPXg4P3qavHGZEH+GEs+iQkQ0ZRWu0MkzDrrooimzc5G60dHNgwXhrjYdsUwYtuyI7e1i4tL/H+/6R8BBgD5/eOcFh4EXgAAAABJRU5ErkJggg==') !important;
}.acessibilidade + #barra-governo{
    position: absolute;
    top: 0px;
}#mapa-do-site{
    padding-left: 0px
}
#bandeira{
    width: 26px;
    height: 18px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAATCAIAAAABJ4pRAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABINJREFUeNqUVFtsFFUYPrfdmdnLbLe021baQqWUtdJKL5QiASPiNVqC0TYqUWLShJQmRH3RqPHFRKJvQqIPQNSAAcMDptGEiKjYpLZIkSqGXqjdFlppd3vb7c7Ozpxz/M+2wZD44snszOzJnP//vv///g9XnNiXtNISI1gYq4eUEu4CC7SyiLpJgtSOIJKg/1ySB3x+NmsvJLNpgVUwlAu08iIkzi2pUhHIAa/q1L9p7l6YWmmHEOSBWJD6LixwJ7DDAKR06c6imQOVYxoRyEV4BR3JBYfvqNqBtILrSGNEKgoCsVxWDMmxgAOADeDjQsP+oHbo1egk7B+Mju/vq7kwVYhohsAxoiogiIM5hBaSUIBFfS21WRcOSwUHOwgTqoJR+O0pv31u56XmUKrvt4o/RyNrjVRHw40iLdU9Hck4DPBQxOQKK/XQqQa7nGNb8UICSUoE4y4rCyweqh164b7Jk12N737x2NjtfMAeCDit268e7jj7yOqfX++p+ebvQk5coAB8BQIMroqaf7xt3p4TUATgxj0Y0wOVN96uHomE3I+Ob37zSJvUHURshjySIZ4JPLhp+IcPj3h1eSZ2zxu/R8cXDeThuSLJkGZSY/fGjGOrenG9xlz8vPnK/g0xEwprl52PH9ryUGRLk1lfXWqGCcE0lUqOjxeHVy01141V+5Mvlk+lOLmcAOwC6OpMo8FnqlOCh2j2taqRE1sHKk2LuFJq6NveumNd9f0Dt2IjC1aGVKwzdz1cUryaxSasW9Oo/dFfoaEB6jxdOl2Xt3BtwYw7Xh/VmQNNcNHj5fH3N40CQgnNAAUQMjgh+y/dpIblN9j14fHuHqEFvPUP5L3Svp4mHNtGmgbaVF1oWZNIi8GXextALUpEhLqnJ0o3f9fcEw9iD3RFCaUiMmvmG/lhI50VBQX6ujX5ju3+dHHm1Mmb9dGsxyRKSwylHNLRt2HvL42O4C5IhsLsgEII74+Hd1zY+s5AdMklguMnmkaLwn9RGgr7dSfLk5ZreGhJUdD0+oz0ZxSOMNQ1VdB4fscnw5VCiOUBpb7d91vcklBJJpDwXpwOn50qKdXs2tLZpoqJU99XxVPBbMayXRnOK/Dp5p5tZzpbu0cT+sErG9/6o2rW9iLKQbOget2jQbgay3UIJrlhlJSK6Yz3dKx4dD74Ut3Ivu2X5xe8CSvopdm1kdh7e7/sfO7Ho4PlrT0NvTMhTISaaRhUoImITr244Njz8WwSVKOMhBI1hdIBMQuXlARShxuvPbt+3k0gx9GMsDVp0c7emq8nSiSFjzkVlCuKfHl+Q0aQai21Gb4E7SA59wDWGLLBg+Kk6/lqrKw/4dtWOLfKn/74+r2t3fVX5/IwcyExIBAKFFWOhskyWVx4tG3GmUfKCFRbOHYBNjiC6hBkBTrQRl+mSLeHZkOYOXeMRxIFCb6SME5gYJiGvH7MPn0q5wBCgqkgF4xBEVfdhksTyMmNpFT/chJQJQbkgitE8o73gRe4HsRYe/RJy86IFYtU1pVzSqxC/J8F5fMz/z8CDAAkCSSg0qSX5AAAAABJRU5ErkJggg==') no-repeat;
    float: left;
    margin: 7px -5px 7px 9px !important;
}
#barra-governo span{
    margin-top: 2px;
    margin-right: 16px;
}
#barra-governo ul{
    list-style: none;
    margin: 0px;
    float: right;
}
#barra-governo ul li{
    display: inline-block;
    border-left: 2px solid #dfdfdf;
}
#barra-governo ul li:last-child{
    border-right: 2px solid #dfdfdf;
    padding-right: 3px;
}
#barra-governo .a-direita{
    display: none;
}
/* Remover opções adicionais em baixas resoluções */
@media only screen and (max-width:767px){
    #barra-governo ul{
        position: absolute;
        top: 32px;
        right: 0px;
        padding: 0;
        display: none;
        z-index: 100;
    }
    #barra-governo ul:hover{
        display: block;
    }
    #barra-governo ul li{
        display: list-item;
        margin: 0px;
        border-right: 2px solid #dfdfdf;
        border-top: 2px solid #dfdfdf;
        background: #f1f1f1;
    }
    #barra-governo ul li:hover{
        background-color: #DFDFDF;
    }
    #barra-governo a{
        padding: 7px;
    }
    #barra-governo .a-direita{
        display: block;
        font-size: 2em;
        width: 40px;
        border-left: 2px solid #dfdfdf;
        border-right: 2px solid #dfdfdf;
    }  
    #barra-governo .a-direita:hover{
        background-color: #DFDFDF;
    }
    #barra-governo .a-direita:hover ~ ul{
        display: block;
        -webkit-animation: moverDireita 0.4s ease-in-out 0.2s backwards;
	-moz-animation: moverDireita 0.4s ease-in-out 0.2s backwards;
	-o-animation: moverDireita 0.4s ease-in-out 0.2s backwards;
	-ms-animation: moverDireita 0.4s ease-in-out 0.2s backwards;
	animation: moverDireita 0.4s ease-in-out 0.2s backwards;
    }
    @-webkit-keyframes moverDireita{
	0% { 
		-webkit-transform: translateX(80px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateX(0px);  
		opacity: 1;
	}
    }

    @-moz-keyframes moverDireita{
            0% { 
                    -moz-transform: translateX(80px); 
                    opacity: 0;
            }
            100% { 
                    -moz-transform: translateX(0px);  
                    opacity: 1;
            }
    }

    @-o-keyframes moverDireita{
            0% { 
                    -o-transform: translateX(80px); 
                    opacity: 0;
            }
            100% { 
                    -o-transform: translateX(0px);  
                    opacity: 1;
            }
    }

    @-ms-keyframes moverDireita{
            0% { 
                    -ms-transform: translateX(80px); 
                    opacity: 0;
            }
            100% { 
                    -ms-transform: translateX(0px);  
                    opacity: 1;
            }
    }

    @keyframes moverDireita{
            0% { 
                    transform: translateX(80px); 
                    opacity: 0;
            }
            100% { 
                    transform: translateX(0px);  
                    opacity: 1;
            }
    }
}