@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo usado definição do sistema dos botões
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
/*
    Botões
*/
a.botao, .botao {
    font-size: 100%;
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 0.1em 0;
    padding: 0.438em 0.750em 0.2em;
    background: #7EADE1;
    border-bottom: 0.3em solid #5E99DA;
    vertical-align: bottom;
    cursor: pointer;
    color: #FFFFFF;
}
.botao:hover{
    background: #5E99DA;
    padding: 0.438em 0.750em 0.1em;
    margin: 0.2em 0 0.1em;
}
a.ativo, .ativo{
    background: #447FC0;
    border-bottom: 0.3em solid #447FC0;
}
a.ativo:hover, .ativo:hover{
    background: #447FC0;
}
/*
    Botoes de Ação
*/
.b-primario{
    color: #ffffff;
    background-color: #5E99DA  !important;
    border-bottom-color: #447FC0  !important;
}
.b-primario:hover{
    background-color: #447FC0  !important;
}
.b-sucesso{
    color: #ffffff;
    background-color: #299658 !important;
    border-bottom-color: #09893E  !important;
}
.b-sucesso:hover{
    background-color: #09893E  !important;
}
.b-erro{
    color: #ffffff;
    background-color: #EE3F43  !important;
    border-bottom-color: #D02130  !important;
}
.b-erro:hover{
    background-color: #D02130  !important;
}
.b-aviso{
    color: #ffffff;
    background-color: #FF8824  !important;
    border-bottom-color: #E06E19  !important;
}
.b-aviso:hover{
    background-color: #E06E19  !important;
}
.b-secundario{
    color: #ffffff;
    background-color: #5074A3  !important;
    border-bottom-color: #365B8A  !important;
}
.b-secundario:hover{
    background-color: #365B8A  !important;
}
/*
    Botões desabilitados
*/
a.botao.disabled, .botao:disabled {
    border-bottom: 0.3em solid #D5D9DE !important;
    margin: 0.1em 0;
    padding: 0.438em 0.750em 0.2em;
    cursor: not-allowed;
    background: #F3F3F3 !important;
    color: #D5D9DE !important;
}
a:hover.disabled, .botao:disabled:hover{
    margin: 0.1em 0;
    padding: 0.438em 0.750em 0.2em;
    cursor: not-allowed;
    background: #EDEDED !important;
    color: #D5D9DE !important;
}