@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo usado para a definição do sistema de colunas/grids.
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
/*
    Grades com doze colunas flutuantes
*/
/* Reset para os elementos after e before*/
*:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Pagina para armazenar o conteúdo */
.pagina {
    width: 100%;
    position:relative;
    margin:0 auto;
    min-height:100%;
}
* html .pagina { /* hack para IE6 que trata height como min-height */
    height: 100%;
}
.pagina:before,
.pagina:after {
  content: " ";
  display: table;
}
.pagina:after {
  clear: both;
}
.pagina {
  *zoom: 1;
}

/* Espaçamento do conteúdo */
.conteudo {
    margin: 5px;
    padding: 5px !important;
    word-wrap:break-word;
}
.conteudo:before,
.conteudo:after {
  content: " ";
  display: table;
}
.conteudo:after {
  margin-bottom: 5px;
  clear: both;
}
.conteudo {
  *zoom: 1;
}
/* Flutuação e alinhamento das colunas */
.coluna, .colunas {
    float: left;
}
.a-esquerda{
    float: left !important;
}
.no-centro{
    float: none;
    clear: both;
    margin: auto;
    padding-top: 0.02px;
}
.no-meio {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.a-direita{
    float: right !important;
}
.ocultar{
    opacity:0;
    z-index:0;
    display: none;
    position:absolute;
    left:-100%;
}
/* Configurações para colunas */
.com-bordas{
    border: 1px solid #D5D9DE;
    margin-top: 10px !important;
}
.rodape {
    position: absolute;
    left: 0;
    bottom: 0; 
}
/* Criação de uma linha */
.linha, .fim {
    clear:both;
    display:block !important;
}
/* Alturas fixas */
.altura-25px {
    min-height: 25px;
}
.altura-25px .conteudo{
    margin: 2px 5px;
    padding: 2px 5px;
}
.altura-50px {
    min-height: 50px;
}
.altura-75px {
    min-height: 75px;
}
.altura-100px {
    min-height: 100px;
}
.altura-150px {
    min-height: 150px;
}
.altura-200px {
    min-height: 200px;
}
.altura-250px {
    min-height: 250px;
}
.altura-300px {
    min-height: 300px;
}
/* Larguras */
.largura-25px{
    width: 25px !important;
    min-width:25px !important;
}
.largura-50px{
    width: 50px !important;
    min-width: 50px !important;
}
.largura-75px{
    width: 75px !important;
    min-width: 75px !important;
}
.largura-100px{
    width: 100px !important;
    min-width: 100px !important;
}
.largura-150px{
    width: 150px !important;
    min-width: 150px !important;
}
.largura-200px{
    width: 200px !important;
    min-width: 200px !important;
}
.largura-250px{
    width: 250px !important;
    min-width: 250px !important;
}
.largura-300px{
    width: 300px !important;
    min-width: 300px !important;
}
/* Grade com no máximo 12 colunas por linha, podendo ter: */
/* 01 Coluna */
.uma {
    width: 8.33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 02 Colunas */
.duas {
    width: 16.66%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 03 Colunas */
.tres {
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 04 Colunas */
.quatro {
    width: 33.33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 05 Colunas */
.cinco {
    width: 41.66%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 06 Colunas */
.seis {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 07 Colunas */
.sete {
    width: 58.33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 08 Colunas */
.oito {
    width: 66.66%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 09 Colunas */
.nove {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 10 Colunas */
.dez {
    width: 83.33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 09 Colunas */
.onze {
    width: 91.66%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 12 Colunas */
.doze {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Responsividade das colunas */
@media only screen and (min-width:768px) and (max-width:979px){
    .uma {
        width: 16.66%;
    }
    .duas {
        width: 33.33%;
    }
    .tres {
        width: 50%;
    }
    .quatro,.cinco,.seis,.sete,.oito,.doze{
        width: 100%;
    }
    .nove{
        width: 50%;
    }
    .dez{
        width: 66.67%;
    }
    .onze{
        width: 83.34%;
    }
    .rotulo{
        width: auto;
    }
}
@media only screen and (max-width:767px){
    .uma {
        width: 33.33%;
    }
    .duas {
        width: 50%;
    }
    .tres,.quatro,.cinco,.seis,.sete,.oito,.nove,.doze{
        width: 100%;
    }
    .dez{
        width: 50%;
    }
    .onze{
        width: 66.67%;
    }
    .rotulo{
        width: auto;
    }
}
@media only screen and (max-width:480px){
    .uma,.duas,.dez,.onze {
        width: 100%;
    }
    .acessibilidade span{
        display:none
    }
}