@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo usado para formatar textos, div's e  parágrafos
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
/*
    Tamanhos para texto
*/
.minimo{
	font-size: 55% !important;
}
.pequeno{
	font-size: 68% !important;
}
.medio{
	font-size: 85% !important;
}
.normal{
	font-size: 100% !important;
}
.grande{
	font-size: 125% !important;
}
.maximo{
	font-size: 170% !important;
}
/*
    Formatações de texto
*/
.negrito{
    font-weight:bold !important;
}
.italico{
    font-style: italic !important;
}
.sublinhado{
    text-decoration: underline !important;
}
.tachado{
    text-decoration: line-through !important;
}
.maiusculas{
    text-transform: uppercase !important;
}
.minusculas{
    text-transform: lowercase !important;
}
.iniciais-em-maiuscula{
    text-transform: capitalize !important;
}
.padrao{
    font-size: 100% !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-decoration: none !important;
    text-transform: none !important;
}
.codigo{
    border: 1px solid #d3d3d3;
    display: inline-block;
    background-color: #fcfcfc;
    color: #447FC0;
    font-family: monospace, monospace;
    font-size: 1em !important;
    padding: 1px 3px;
    -webkit-box-shadow: 0 8px 8px -10px #3D3D3D;
    -moz-box-shadow: 0 8px 8px -10px #3D3D3D;
    box-shadow: 0 8px 8px -10px #3D3D3D;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
/*
    Títulos de cabeçalho
*/
h1 {
  font-size: 2em;
  margin: 0.1em 0;
}
h2 {
  font-size: 1.6em;
  margin: 0.1em 0;
}
h3 {
  font-size: 1.25em;
  margin: 0.1em 0;
}
h4 {
  font-size: 1em;
  margin: 0.1em 0;
}
h5 {
  font-size: 0.9em;
  margin: 0.1em 0;
}
h6 {
  font-size: 0.75em;
  margin: 0.1em 0;
}
/*
    Títulos
*/
.titulo,.titulo-com-borda{
    color:#2E496B;
    font-weight:bold;
    font-size:1em;
    line-height: 1.8em;
    margin:0px;
    page-break-before: always;
    margin-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
    display: block;
}
.titulo{
    font-size:1.125em;
    border: none;
    padding: 0;
    margin: 0; 
}
.titulo:before,.titulo:after{
    content:"";
    display:block;
    clear:both;
}
/*
    Links
*/
a:link{
    text-decoration: none;
    color: #3484db;
}
a:visited{
    color: #898989;
    text-decoration:underline !important;
}
a:hover{
    color: #5E99DA;
    text-decoration:underline;
}
a:active{
    color: #4381cf;
    
}
/*
    Alinhamento e espaçamentos/recuos
*/
p{
    margin: 0.1em 0;
}
.recuo-primeira-linha{
    text-indent: 3em;
}
.espacamento-entre-linhas{
    line-height:150%;
}
.alinhado-a-esquerda{
    text-align: left !important;
}
.centralizado{
    text-align: center !important;
}
.alinhado-a-direita{
    text-align: right !important;
}
.justificado{
    text-align: justify !important;
}
.margem-esquerda{
    margin-left: 10px;
}
.margem-direita{
    margin-right: 10px;
}
.margem-acima{
    margin-top: 10px;
}
.margem-abaixo{
    margin-bottom: 10px;
}
/*
    Cores de texto
*/
/* Amarelo */
.texto-amarelo1{
    color:#FFDB69 !important;
}
.texto-amarelo2{
    color:#FFCD0E !important;
}
.texto-amarelo3{
    color:#F6B80B !important;
}
/* Vermelho */
.texto-vermelho1{
    color:#FF5B5C !important;
}
.texto-vermelho2{
    color:#FF2E33 !important;
}
.texto-vermelho3{
    color:#DD2326 !important;
}
/* Laranja */
.texto-laranja1{
    color:#FFAB6B !important;
}
.texto-laranja2{
    color:#FF8824 !important;
}
.texto-laranja3{
    color:#DE6B1A !important;
}
/* Marrom */
.texto-marrom1{
    color:#B4474D !important;
}
.texto-marrom2{
    color:#9C131D !important;
}
.texto-marrom3{
    color:#7C0D14 !important;
}
/* Limão */
.texto-limao1{
    color:#ACDB6B !important;
}
.texto-limao2{
    color:#96D141 !important;
}
.texto-limao3{
    color:#77A832 !important;
}
/* Azul */
.texto-azul1{
    color:#3696D0 !important;
}
.texto-azul2{
    color:#007CC2 !important;
}
.texto-azul3{
    color:#00629D !important;
}
/* Verde */
.texto-verde1{
    color:#01AA6F !important;
}
.texto-verde2{
    color:#01934A !important;
}
.texto-verde3{
    color:#007639 !important;
}
/* Azul marinho */
.texto-azul-marinho1{
    color:#276385 !important;
}
.texto-azul-marinho2{
    color:#003966 !important;
}
.texto-azul-marinho3{
    color:#002C4F !important;
}
/* Cinza */
.texto-cinza1{
    color:#F3F3F3 !important;
}
.texto-cinza2{
    color:#C3C3C3 !important;
}
.texto-cinza3{
    color:#939393 !important;
}
/* Luz */
.texto-branco{
    color:#FFFFFF !important;
}
.texto-preto{
    color:#000000 !important;
}
/*
    Cores de fundo
*/
.fundo-amarelo1{
    background:#FFDB69 !important;
}
.fundo-amarelo2{
    background:#FFCD0E !important;
}
.fundo-amarelo3{
    background:#F6B80B !important;
}
/* Vermelho */
.fundo-vermelho1{
    background:#FF5B5C !important;
}
.fundo-vermelho2{
    background:#FF2E33 !important;
}
.fundo-vermelho3{
    background:#DD2326 !important;
}
/* Laranja */
.fundo-laranja1{
    background:#FFAB6B !important;
}
.fundo-laranja2{
    background:#FF8824 !important;
}
.fundo-laranja3{
    background:#DE6B1A !important;
}
/* Marrom */
.fundo-marrom1{
    background:#B4474D !important;
}
.fundo-marrom2{
    background:#9C131D !important;
}
.fundo-marrom3{
    background:#7C0D14 !important;
}
/* Limão */
.fundo-limao1{
    background:#ACDB6B !important;
}
.fundo-limao2{
    background:#96D141 !important;
}
.fundo-limao3{
    background:#77A832 !important;
}
/* Azul */
.fundo-azul1{
    background:#3696D0 !important;
}
.fundo-azul2{
    background:#007CC2 !important;
}
.fundo-azul3{
    background:#00629D !important;
}
/* Verde */
.fundo-verde1{
    background:#01AA6F !important;
}
.fundo-verde2{
    background:#01934A !important;
}
.fundo-verde3{
    background:#007639 !important;
}
/* Azul marinho */
.fundo-azul-marinho1{
    background:#276385 !important;
}
.fundo-azul-marinho2{
    background:#003966 !important;
}
.fundo-azul-marinho3{
    background:#002C4F !important;
}
/* Cinza */
.fundo-cinza1{
    background:#F3F3F3 !important;
}
.fundo-cinza2{
    background:#C3C3C3 !important;
}
.fundo-cinza3{
    background:#939393 !important;
}
/* Luz */
.fundo-branco{
    background:#FFFFFF !important;
}
.fundo-preto{
    background:#000000 !important;
}