@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo usado para a criação de formulários.
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
/*
    Formulários
*/
.formulario{
    font-size: 100% !important;
}
.formulario label{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    padding: 0.25em 0;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
.formulario input[type="text"],.formulario input[type="password"],.formulario select,.formulario input[type="file"]{
    border: 1px solid #ccc;
    padding: 0.388em 0.438em;
    min-width: 16.66%;
}
.formulario input[type="radio"],.formulario input[type="checkbox"]{
    border: 1px solid #ccc;
    margin: 5px 0px 5px 8px;
    cursor: pointer;
}
.formulario input[type="submit"],.formulario-organizado input[type="submit"]{
    font-size: 100%;
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 0.1em 0;
    padding: 0.438em 0.750em 0.2em;
    border-bottom: 0.3em solid #447FC0;
    vertical-align: bottom;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #5E99DA;
}
.formulario input[type="submit"]:hover,.formulario-organizado input[type="submit"]:hover{
    background: #447FC0;
    padding: 0.438em 0.750em 0.1em;
    margin: 0.2em 0 0.1em;
}
.formulario input[type="submit"]:active,.formulario-organizado input[type="submit"]:active{
    font-size: 100%;
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 0.35em 0 0.1em 0;
    padding: 0.438em 0.750em 0.2em;
    vertical-align: bottom;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #447FC0;
}
.formulario input[type="reset"],.formulario-organizado input[type="reset"]{
    font-size: 100%;
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 0.1em 0;
    padding: 0.438em 0.750em 0.2em;
    border-bottom: 0.3em solid #5E99DA;
    vertical-align: bottom;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #7EADE1;
}
.formulario input[type="reset"]:hover,.formulario-organizado input[type="reset"]:hover{
    background: #5E99DA;
    padding: 0.438em 0.750em 0.1em;
    margin: 0.2em 0 0.1em;
}
.formulario textarea{
    vertical-align: text-top;
    border: 1px solid #ccc;
    padding: 0.438em 0.438em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    resize: none;
    overflow:auto;
    white-space:pre-wrap;
}
.formulario input:focus,.formulario select:focus,.formulario textarea:focus{
    border: 1px solid #5E99DA;
}
.formulario fieldset{
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
}
.formulario fieldset legend{
    float: left;
    margin: 7px 4px 7px 0px;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    cursor: default;
}
.formulario fieldset label{
    margin-top: 3px;
}

/* Exibir checkbox e/ou radio sem sequencia */
fieldset.sequencial{
    display: block;
}
fieldset.sequencial legend{
    display: block;
    padding: 0 0 8px 0;
    font-weight: bold;
}
fieldset.sequencial label{
    clear: both;
    margin: 0;
}

*:focus{
    outline: 0;
}
.obrigatorio:after{
    color:#FF8824;
    content: "*";
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.obrigatorio:focus{
    border: 1px solid #F5893F;
}
.rotulo{
    padding: 0.5em 0.25em 0.4em 0;
    word-wrap:break-word;
    float: left;
}
.alerta-para-campos{
    clear:both;
    display:block !important;
    font-size: 70% !important;
    float: right;
    text-align: left;
    margin: 2px 0 6px 0;
}

/*
    Campos em linha
*/
.em-linha label, .em-linha fieldset{
    display: block;
}
.em-linha fieldset label{
    display: inline-block;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

/*
    Campos em linha organizado
*/
.formulario-organizado .rotulo{
    float: left;
}
.formulario-organizado label,.formulario-organizado legend{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    cursor: default;
    display: block;
    margin-bottom: 4px;
}
.formulario-organizado input[type="text"],.formulario-organizado input[type="password"],.formulario-organizado select,.formulario-organizado input[type="file"]{
    display: block;
    border: 1px solid #ccc;
    padding: 0.388em 0.438em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 16.66%;
}
.formulario-organizado input[type="radio"],.formulario-organizado input[type="checkbox"]{
    border: 1px solid #ccc;
    margin: 5px 0px 5px 8px;
    cursor: pointer;
}
.formulario-organizado textarea{
    display: block;
    vertical-align: text-top;
    border: 1px solid #ccc;
    padding: 0.438em 0.438em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    resize: none;
    overflow:auto;
    white-space:pre-wrap;
}
.formulario-organizado input:focus,.formulario-organizado select:focus,.formulario-organizado textarea:focus{
    border: 1px solid #5E99DA;
}
.formulario-organizado fieldset{
    display: block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
}
.formulario-organizado fieldset label{
    margin: 0.43em 0;
    display:inline-block;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

/*
    Campos em sequência
*/
.sequencial label, .sequencial fieldset{
    display: block;
}
.sequencial fieldset label{
    display: inline-block;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
.sequencial input[type="text"],.sequencial input[type="password"],.sequencial select{
    display: block;
}
.sequencial legend{
    width: 100%;
    margin-bottom: -5px !important;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
.sequencial .rotulo{
    margin-top: 0em;
    float: none;
}

/*
    Campos desativados
*/
select:disabled, textarea:disabled, input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled{
    background-color: #EDEDED;
}

@media only screen and (max-width:767px){
    .alinhado-a-direita{
        text-align: left !important;
    }
}