@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo utilizado para configurar e incluir os ícones.
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
/*
    Ícones
*/
[class^="ix"]{
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 1em;
    width: 1em;
    line-height: 1;
}
/* Tamanho dos ícones */
.ix8 {
    font-size: 8px;
}
.ix16 {
    font-size: 16px;
}
.ix24 {
    font-size: 24px;
}
.ix32 {
    font-size: 32px;
}
.ix48 {
    font-size: 48px;
}
.ix64 {
    font-size: 64px;
}
.ix96 {
    font-size: 96px;
}
.ix128 {
    font-size: 128px;
}
/* Importar fonte dos ícones */
@font-face {
	font-family: 'IcoMoon-Free';
	src: url('../src/fontes/icomoon/IcoMoon-Free.eot');
        src: local('IcoMoon-Free'), url('../src/fontes/icomoon/IcoMoon-Free.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Mostrar o ícone */
[class*="icone-"]:after, [class*="icone-"]:before {
	font-family: 'IcoMoon-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
/* Chamada dos ícones */
.icone-home:before {
	content: "\e900";
}
.icone-home2:before {
	content: "\e901";
}
.icone-home3:before {
	content: "\e902";
}
.icone-office:before {
	content: "\e903";
}
.icone-newspaper:before {
	content: "\e904";
}
.icone-pencil:before {
	content: "\e905";
}
.icone-pencil2:before {
	content: "\e906";
}
.icone-quill:before {
	content: "\e907";
}
.icone-pen:before {
	content: "\e908";
}
.icone-blog:before {
	content: "\e909";
}
.icone-eyedropper:before {
	content: "\e90a";
}
.icone-droplet:before {
	content: "\e90b";
}
.icone-paint-format:before {
	content: "\e90c";
}
.icone-image:before {
	content: "\e90d";
}
.icone-images:before {
	content: "\e90e";
}
.icone-camera:before {
	content: "\e90f";
}
.icone-headphones:before {
	content: "\e910";
}
.icone-music:before {
	content: "\e911";
}
.icone-play:before {
	content: "\e912";
}
.icone-film:before {
	content: "\e913";
}
.icone-video-camera:before {
	content: "\e914";
}
.icone-dice:before {
	content: "\e915";
}
.icone-pacman:before {
	content: "\e916";
}
.icone-spades:before {
	content: "\e917";
}
.icone-clubs:before {
	content: "\e918";
}
.icone-diamonds:before {
	content: "\e919";
}
.icone-bullhorn:before {
	content: "\e91a";
}
.icone-connection:before {
	content: "\e91b";
}
.icone-podcast:before {
	content: "\e91c";
}
.icone-feed:before {
	content: "\e91d";
}
.icone-mic:before {
	content: "\e91e";
}
.icone-book:before {
	content: "\e91f";
}
.icone-books:before {
	content: "\e920";
}
.icone-library:before {
	content: "\e921";
}
.icone-file-text:before {
	content: "\e922";
}
.icone-profile:before {
	content: "\e923";
}
.icone-file-empty:before {
	content: "\e924";
}
.icone-files-empty:before {
	content: "\e925";
}
.icone-file-text2:before {
	content: "\e926";
}
.icone-file-picture:before {
	content: "\e927";
}
.icone-file-music:before {
	content: "\e928";
}
.icone-file-play:before {
	content: "\e929";
}
.icone-file-video:before {
	content: "\e92a";
}
.icone-file-zip:before {
	content: "\e92b";
}
.icone-copy:before {
	content: "\e92c";
}
.icone-paste:before {
	content: "\e92d";
}
.icone-stack:before {
	content: "\e92e";
}
.icone-folder:before {
	content: "\e92f";
}
.icone-folder-open:before {
	content: "\e930";
}
.icone-folder-plus:before {
	content: "\e931";
}
.icone-folder-minus:before {
	content: "\e932";
}
.icone-folder-download:before {
	content: "\e933";
}
.icone-folder-upload:before {
	content: "\e934";
}
.icone-price-tag:before {
	content: "\e935";
}
.icone-price-tags:before {
	content: "\e936";
}
.icone-barcode:before {
	content: "\e937";
}
.icone-qrcode:before {
	content: "\e938";
}
.icone-ticket:before {
	content: "\e939";
}
.icone-cart:before {
	content: "\e93a";
}
.icone-coin-dollar:before {
	content: "\e93b";
}
.icone-coin-euro:before {
	content: "\e93c";
}
.icone-coin-pound:before {
	content: "\e93d";
}
.icone-coin-yen:before {
	content: "\e93e";
}
.icone-credit-card:before {
	content: "\e93f";
}
.icone-calculator:before {
	content: "\e940";
}
.icone-lifebuoy:before {
	content: "\e941";
}
.icone-phone:before {
	content: "\e942";
}
.icone-phone-hang-up:before {
	content: "\e943";
}
.icone-address-book:before {
	content: "\e944";
}
.icone-envelop:before {
	content: "\e945";
}
.icone-pushpin:before {
	content: "\e946";
}
.icone-location:before {
	content: "\e947";
}
.icone-location2:before {
	content: "\e948";
}
.icone-compass:before {
	content: "\e949";
}
.icone-compass2:before {
	content: "\e94a";
}
.icone-map:before {
	content: "\e94b";
}
.icone-map2:before {
	content: "\e94c";
}
.icone-history:before {
	content: "\e94d";
}
.icone-clock:before {
	content: "\e94e";
}
.icone-clock2:before {
	content: "\e94f";
}
.icone-alarm:before {
	content: "\e950";
}
.icone-bell:before {
	content: "\e951";
}
.icone-stopwatch:before {
	content: "\e952";
}
.icone-calendar:before {
	content: "\e953";
}
.icone-printer:before {
	content: "\e954";
}
.icone-keyboard:before {
	content: "\e955";
}
.icone-display:before {
	content: "\e956";
}
.icone-laptop:before {
	content: "\e957";
}
.icone-mobile:before {
	content: "\e958";
}
.icone-mobile2:before {
	content: "\e959";
}
.icone-tablet:before {
	content: "\e95a";
}
.icone-tv:before {
	content: "\e95b";
}
.icone-drawer:before {
	content: "\e95c";
}
.icone-drawer2:before {
	content: "\e95d";
}
.icone-box-add:before {
	content: "\e95e";
}
.icone-box-remove:before {
	content: "\e95f";
}
.icone-download:before {
	content: "\e960";
}
.icone-upload:before {
	content: "\e961";
}
.icone-floppy-disk:before {
	content: "\e962";
}
.icone-drive:before {
	content: "\e963";
}
.icone-database:before {
	content: "\e964";
}
.icone-undo:before {
	content: "\e965";
}
.icone-redo:before {
	content: "\e966";
}
.icone-undo2:before {
	content: "\e967";
}
.icone-redo2:before {
	content: "\e968";
}
.icone-forward:before {
	content: "\e969";
}
.icone-reply:before {
	content: "\e96a";
}
.icone-bubble:before {
	content: "\e96b";
}
.icone-bubbles:before {
	content: "\e96c";
}
.icone-bubbles2:before {
	content: "\e96d";
}
.icone-bubble2:before {
	content: "\e96e";
}
.icone-bubbles3:before {
	content: "\e96f";
}
.icone-bubbles4:before {
	content: "\e970";
}
.icone-user:before {
	content: "\e971";
}
.icone-users:before {
	content: "\e972";
}
.icone-user-plus:before {
	content: "\e973";
}
.icone-user-minus:before {
	content: "\e974";
}
.icone-user-check:before {
	content: "\e975";
}
.icone-user-tie:before {
	content: "\e976";
}
.icone-quotes-left:before {
	content: "\e977";
}
.icone-quotes-right:before {
	content: "\e978";
}
.icone-hour-glass:before {
	content: "\e979";
}
.icone-spinner:before {
	content: "\e97a";
}
.icone-spinner2:before {
	content: "\e97b";
}
.icone-spinner3:before {
	content: "\e97c";
}
.icone-spinner4:before {
	content: "\e97d";
}
.icone-spinner5:before {
	content: "\e97e";
}
.icone-spinner6:before {
	content: "\e97f";
}
.icone-spinner7:before {
	content: "\e980";
}
.icone-spinner8:before {
	content: "\e981";
}
.icone-spinner9:before {
	content: "\e982";
}
.icone-spinner10:before {
	content: "\e983";
}
.icone-spinner11:before {
	content: "\e984";
}
.icone-binoculars:before {
	content: "\e985";
}
.icone-search:before {
	content: "\e986";
}
.icone-zoom-in:before {
	content: "\e987";
}
.icone-zoom-out:before {
	content: "\e988";
}
.icone-enlarge:before {
	content: "\e989";
}
.icone-shrink:before {
	content: "\e98a";
}
.icone-enlarge2:before {
	content: "\e98b";
}
.icone-shrink2:before {
	content: "\e98c";
}
.icone-key:before {
	content: "\e98d";
}
.icone-key2:before {
	content: "\e98e";
}
.icone-lock:before {
	content: "\e98f";
}
.icone-unlocked:before {
	content: "\e990";
}
.icone-wrench:before {
	content: "\e991";
}
.icone-equalizer:before {
	content: "\e992";
}
.icone-equalizer2:before {
	content: "\e993";
}
.icone-cog:before {
	content: "\e994";
}
.icone-cogs:before {
	content: "\e995";
}
.icone-hammer:before {
	content: "\e996";
}
.icone-magic-wand:before {
	content: "\e997";
}
.icone-aid-kit:before {
	content: "\e998";
}
.icone-bug:before {
	content: "\e999";
}
.icone-pie-chart:before {
	content: "\e99a";
}
.icone-stats-dots:before {
	content: "\e99b";
}
.icone-stats-bars:before {
	content: "\e99c";
}
.icone-stats-bars2:before {
	content: "\e99d";
}
.icone-trophy:before {
	content: "\e99e";
}
.icone-gift:before {
	content: "\e99f";
}
.icone-glass:before {
	content: "\e9a0";
}
.icone-glass2:before {
	content: "\e9a1";
}
.icone-mug:before {
	content: "\e9a2";
}
.icone-spoon-knife:before {
	content: "\e9a3";
}
.icone-leaf:before {
	content: "\e9a4";
}
.icone-rocket:before {
	content: "\e9a5";
}
.icone-meter:before {
	content: "\e9a6";
}
.icone-meter2:before {
	content: "\e9a7";
}
.icone-hammer2:before {
	content: "\e9a8";
}
.icone-fire:before {
	content: "\e9a9";
}
.icone-lab:before {
	content: "\e9aa";
}
.icone-magnet:before {
	content: "\e9ab";
}
.icone-bin:before {
	content: "\e9ac";
}
.icone-bin2:before {
	content: "\e9ad";
}
.icone-briefcase:before {
	content: "\e9ae";
}
.icone-airplane:before {
	content: "\e9af";
}
.icone-truck:before {
	content: "\e9b0";
}
.icone-road:before {
	content: "\e9b1";
}
.icone-accessibility:before {
	content: "\e9b2";
}
.icone-target:before {
	content: "\e9b3";
}
.icone-shield:before {
	content: "\e9b4";
}
.icone-power:before {
	content: "\e9b5";
}
.icone-switch:before {
	content: "\e9b6";
}
.icone-power-cord:before {
	content: "\e9b7";
}
.icone-clipboard:before {
	content: "\e9b8";
}
.icone-list-numbered:before {
	content: "\e9b9";
}
.icone-list:before {
	content: "\e9ba";
}
.icone-list2:before {
	content: "\e9bb";
}
.icone-tree:before {
	content: "\e9bc";
}
.icone-menu:before {
	content: "\e9bd";
}
.icone-menu2:before {
	content: "\e9be";
}
.icone-menu3:before {
	content: "\e9bf";
}
.icone-menu4:before {
	content: "\e9c0";
}
.icone-cloud:before {
	content: "\e9c1";
}
.icone-cloud-download:before {
	content: "\e9c2";
}
.icone-cloud-upload:before {
	content: "\e9c3";
}
.icone-cloud-check:before {
	content: "\e9c4";
}
.icone-download2:before {
	content: "\e9c5";
}
.icone-upload2:before {
	content: "\e9c6";
}
.icone-download3:before {
	content: "\e9c7";
}
.icone-upload3:before {
	content: "\e9c8";
}
.icone-sphere:before {
	content: "\e9c9";
}
.icone-earth:before {
	content: "\e9ca";
}
.icone-link:before {
	content: "\e9cb";
}
.icone-flag:before {
	content: "\e9cc";
}
.icone-attachment:before {
	content: "\e9cd";
}
.icone-eye:before {
	content: "\e9ce";
}
.icone-eye-plus:before {
	content: "\e9cf";
}
.icone-eye-minus:before {
	content: "\e9d0";
}
.icone-eye-blocked:before {
	content: "\e9d1";
}
.icone-bookmark:before {
	content: "\e9d2";
}
.icone-bookmarks:before {
	content: "\e9d3";
}
.icone-sun:before {
	content: "\e9d4";
}
.icone-contrast:before {
	content: "\e9d5";
}
.icone-brightness-contrast:before {
	content: "\e9d6";
}
.icone-star-empty:before {
	content: "\e9d7";
}
.icone-star-half:before {
	content: "\e9d8";
}
.icone-star-full:before {
	content: "\e9d9";
}
.icone-heart:before {
	content: "\e9da";
}
.icone-heart-broken:before {
	content: "\e9db";
}
.icone-man:before {
	content: "\e9dc";
}
.icone-woman:before {
	content: "\e9dd";
}
.icone-man-woman:before {
	content: "\e9de";
}
.icone-happy:before {
	content: "\e9df";
}
.icone-happy2:before {
	content: "\e9e0";
}
.icone-smile:before {
	content: "\e9e1";
}
.icone-smile2:before {
	content: "\e9e2";
}
.icone-tongue:before {
	content: "\e9e3";
}
.icone-tongue2:before {
	content: "\e9e4";
}
.icone-sad:before {
	content: "\e9e5";
}
.icone-sad2:before {
	content: "\e9e6";
}
.icone-wink:before {
	content: "\e9e7";
}
.icone-wink2:before {
	content: "\e9e8";
}
.icone-grin:before {
	content: "\e9e9";
}
.icone-grin2:before {
	content: "\e9ea";
}
.icone-cool:before {
	content: "\e9eb";
}
.icone-cool2:before {
	content: "\e9ec";
}
.icone-angry:before {
	content: "\e9ed";
}
.icone-angry2:before {
	content: "\e9ee";
}
.icone-evil:before {
	content: "\e9ef";
}
.icone-evil2:before {
	content: "\e9f0";
}
.icone-shocked:before {
	content: "\e9f1";
}
.icone-shocked2:before {
	content: "\e9f2";
}
.icone-baffled:before {
	content: "\e9f3";
}
.icone-baffled2:before {
	content: "\e9f4";
}
.icone-confused:before {
	content: "\e9f5";
}
.icone-confused2:before {
	content: "\e9f6";
}
.icone-neutral:before {
	content: "\e9f7";
}
.icone-neutral2:before {
	content: "\e9f8";
}
.icone-hipster:before {
	content: "\e9f9";
}
.icone-hipster2:before {
	content: "\e9fa";
}
.icone-wondering:before {
	content: "\e9fb";
}
.icone-wondering2:before {
	content: "\e9fc";
}
.icone-sleepy:before {
	content: "\e9fd";
}
.icone-sleepy2:before {
	content: "\e9fe";
}
.icone-frustrated:before {
	content: "\e9ff";
}
.icone-frustrated2:before {
	content: "\ea00";
}
.icone-crying:before {
	content: "\ea01";
}
.icone-crying2:before {
	content: "\ea02";
}
.icone-point-up:before {
	content: "\ea03";
}
.icone-point-right:before {
	content: "\ea04";
}
.icone-point-down:before {
	content: "\ea05";
}
.icone-point-left:before {
	content: "\ea06";
}
.icone-warning:before {
	content: "\ea07";
}
.icone-notification:before {
	content: "\ea08";
}
.icone-question:before {
	content: "\ea09";
}
.icone-plus:before {
	content: "\ea0a";
}
.icone-minus:before {
	content: "\ea0b";
}
.icone-info:before {
	content: "\ea0c";
}
.icone-cancel-circle:before {
	content: "\ea0d";
}
.icone-blocked:before {
	content: "\ea0e";
}
.icone-cross:before {
	content: "\ea0f";
}
.icone-checkmark:before {
	content: "\ea10";
}
.icone-checkmark2:before {
	content: "\ea11";
}
.icone-spell-check:before {
	content: "\ea12";
}
.icone-enter:before {
	content: "\ea13";
}
.icone-exit:before {
	content: "\ea14";
}
.icone-play2:before {
	content: "\ea15";
}
.icone-pause:before {
	content: "\ea16";
}
.icone-stop:before {
	content: "\ea17";
}
.icone-previous:before {
	content: "\ea18";
}
.icone-next:before {
	content: "\ea19";
}
.icone-backward:before {
	content: "\ea1a";
}
.icone-forward2:before {
	content: "\ea1b";
}
.icone-play3:before {
	content: "\ea1c";
}
.icone-pause2:before {
	content: "\ea1d";
}
.icone-stop2:before {
	content: "\ea1e";
}
.icone-backward2:before {
	content: "\ea1f";
}
.icone-forward3:before {
	content: "\ea20";
}
.icone-first:before {
	content: "\ea21";
}
.icone-last:before {
	content: "\ea22";
}
.icone-previous2:before {
	content: "\ea23";
}
.icone-next2:before {
	content: "\ea24";
}
.icone-eject:before {
	content: "\ea25";
}
.icone-volume-high:before {
	content: "\ea26";
}
.icone-volume-medium:before {
	content: "\ea27";
}
.icone-volume-low:before {
	content: "\ea28";
}
.icone-volume-mute:before {
	content: "\ea29";
}
.icone-volume-mute2:before {
	content: "\ea2a";
}
.icone-volume-increase:before {
	content: "\ea2b";
}
.icone-volume-decrease:before {
	content: "\ea2c";
}
.icone-loop:before {
	content: "\ea2d";
}
.icone-loop2:before {
	content: "\ea2e";
}
.icone-infinite:before {
	content: "\ea2f";
}
.icone-shuffle:before {
	content: "\ea30";
}
.icone-arrow-up-left:before {
	content: "\ea31";
}
.icone-arrow-up:before {
	content: "\ea32";
}
.icone-arrow-up-right:before {
	content: "\ea33";
}
.icone-arrow-right:before {
	content: "\ea34";
}
.icone-arrow-down-right:before {
	content: "\ea35";
}
.icone-arrow-down:before {
	content: "\ea36";
}
.icone-arrow-down-left:before {
	content: "\ea37";
}
.icone-arrow-left:before {
	content: "\ea38";
}
.icone-arrow-up-left2:before {
	content: "\ea39";
}
.icone-arrow-up2:before {
	content: "\ea3a";
}
.icone-arrow-up-right2:before {
	content: "\ea3b";
}
.icone-arrow-right2:before {
	content: "\ea3c";
}
.icone-arrow-down-right2:before {
	content: "\ea3d";
}
.icone-arrow-down2:before {
	content: "\ea3e";
}
.icone-arrow-down-left2:before {
	content: "\ea3f";
}
.icone-arrow-left2:before {
	content: "\ea40";
}
.icone-circle-up:before {
	content: "\ea41";
}
.icone-circle-right:before {
	content: "\ea42";
}
.icone-circle-down:before {
	content: "\ea43";
}
.icone-circle-left:before {
	content: "\ea44";
}
.icone-tab:before {
	content: "\ea45";
}
.icone-move-up:before {
	content: "\ea46";
}
.icone-move-down:before {
	content: "\ea47";
}
.icone-sort-alpha-asc:before {
	content: "\ea48";
}
.icone-sort-alpha-desc:before {
	content: "\ea49";
}
.icone-sort-numeric-asc:before {
	content: "\ea4a";
}
.icone-sort-numberic-desc:before {
	content: "\ea4b";
}
.icone-sort-amount-asc:before {
	content: "\ea4c";
}
.icone-sort-amount-desc:before {
	content: "\ea4d";
}
.icone-command:before {
	content: "\ea4e";
}
.icone-shift:before {
	content: "\ea4f";
}
.icone-ctrl:before {
	content: "\ea50";
}
.icone-opt:before {
	content: "\ea51";
}
.icone-checkbox-checked:before {
	content: "\ea52";
}
.icone-checkbox-unchecked:before {
	content: "\ea53";
}
.icone-radio-checked:before {
	content: "\ea54";
}
.icone-radio-checked2:before {
	content: "\ea55";
}
.icone-radio-unchecked:before {
	content: "\ea56";
}
.icone-crop:before {
	content: "\ea57";
}
.icone-make-group:before {
	content: "\ea58";
}
.icone-ungroup:before {
	content: "\ea59";
}
.icone-scissors:before {
	content: "\ea5a";
}
.icone-filter:before {
	content: "\ea5b";
}
.icone-font:before {
	content: "\ea5c";
}
.icone-ligature:before {
	content: "\ea5d";
}
.icone-ligature2:before {
	content: "\ea5e";
}
.icone-text-height:before {
	content: "\ea5f";
}
.icone-text-width:before {
	content: "\ea60";
}
.icone-font-size:before {
	content: "\ea61";
}
.icone-bold:before {
	content: "\ea62";
}
.icone-underline:before {
	content: "\ea63";
}
.icone-italic:before {
	content: "\ea64";
}
.icone-strikethrough:before {
	content: "\ea65";
}
.icone-omega:before {
	content: "\ea66";
}
.icone-sigma:before {
	content: "\ea67";
}
.icone-page-break:before {
	content: "\ea68";
}
.icone-superscript:before {
	content: "\ea69";
}
.icone-subscript:before {
	content: "\ea6a";
}
.icone-superscript2:before {
	content: "\ea6b";
}
.icone-subscript2:before {
	content: "\ea6c";
}
.icone-text-color:before {
	content: "\ea6d";
}
.icone-pagebreak:before {
	content: "\ea6e";
}
.icone-clear-formatting:before {
	content: "\ea6f";
}
.icone-table:before {
	content: "\ea70";
}
.icone-table2:before {
	content: "\ea71";
}
.icone-insert-template:before {
	content: "\ea72";
}
.icone-pilcrow:before {
	content: "\ea73";
}
.icone-ltr:before {
	content: "\ea74";
}
.icone-rtl:before {
	content: "\ea75";
}
.icone-section:before {
	content: "\ea76";
}
.icone-paragraph-left:before {
	content: "\ea77";
}
.icone-paragraph-center:before {
	content: "\ea78";
}
.icone-paragraph-right:before {
	content: "\ea79";
}
.icone-paragraph-justify:before {
	content: "\ea7a";
}
.icone-indent-increase:before {
	content: "\ea7b";
}
.icone-indent-decrease:before {
	content: "\ea7c";
}
.icone-share:before {
	content: "\ea7d";
}
.icone-new-tab:before {
	content: "\ea7e";
}
.icone-embed:before {
	content: "\ea7f";
}
.icone-embed2:before {
	content: "\ea80";
}
.icone-terminal:before {
	content: "\ea81";
}
.icone-share2:before {
	content: "\ea82";
}
.icone-mail:before {
	content: "\ea83";
}
.icone-mail2:before {
	content: "\ea84";
}
.icone-mail3:before {
	content: "\ea85";
}
.icone-mail4:before {
	content: "\ea86";
}
.icone-google:before {
	content: "\ea87";
}
.icone-google-plus:before {
	content: "\ea88";
}
.icone-google-plus2:before {
	content: "\ea89";
}
.icone-google-plus3:before {
	content: "\ea8a";
}
.icone-google-drive:before {
	content: "\ea8b";
}
.icone-facebook:before {
	content: "\ea8c";
}
.icone-facebook2:before {
	content: "\ea8d";
}
.icone-facebook3:before {
	content: "\ea8e";
}
.icone-ello:before {
	content: "\ea8f";
}
.icone-instagram:before {
	content: "\ea90";
}
.icone-twitter:before {
	content: "\ea91";
}
.icone-twitter2:before {
	content: "\ea92";
}
.icone-twitter3:before {
	content: "\ea93";
}
.icone-feed2:before {
	content: "\ea94";
}
.icone-feed3:before {
	content: "\ea95";
}
.icone-feed4:before {
	content: "\ea96";
}
.icone-youtube:before {
	content: "\ea97";
}
.icone-youtube2:before {
	content: "\ea98";
}
.icone-youtube3:before {
	content: "\ea99";
}
.icone-youtube4:before {
	content: "\ea9a";
}
.icone-twitch:before {
	content: "\ea9b";
}
.icone-vimeo:before {
	content: "\ea9c";
}
.icone-vimeo2:before {
	content: "\ea9d";
}
.icone-vimeo3:before {
	content: "\ea9e";
}
.icone-lanyrd:before {
	content: "\ea9f";
}
.icone-flickr:before {
	content: "\eaa0";
}
.icone-flickr2:before {
	content: "\eaa1";
}
.icone-flickr3:before {
	content: "\eaa2";
}
.icone-flickr4:before {
	content: "\eaa3";
}
.icone-picassa:before {
	content: "\eaa4";
}
.icone-picassa2:before {
	content: "\eaa5";
}
.icone-dribbble:before {
	content: "\eaa6";
}
.icone-dribbble2:before {
	content: "\eaa7";
}
.icone-dribbble3:before {
	content: "\eaa8";
}
.icone-forrst:before {
	content: "\eaa9";
}
.icone-forrst2:before {
	content: "\eaaa";
}
.icone-deviantart:before {
	content: "\eaab";
}
.icone-deviantart2:before {
	content: "\eaac";
}
.icone-steam:before {
	content: "\eaad";
}
.icone-steam2:before {
	content: "\eaae";
}
.icone-dropbox:before {
	content: "\eaaf";
}
.icone-onedrive:before {
	content: "\eab0";
}
.icone-github:before {
	content: "\eab1";
}
.icone-github2:before {
	content: "\eab2";
}
.icone-github3:before {
	content: "\eab3";
}
.icone-github4:before {
	content: "\eab4";
}
.icone-github5:before {
	content: "\eab5";
}
.icone-wordpress:before {
	content: "\eab6";
}
.icone-wordpress2:before {
	content: "\eab7";
}
.icone-joomla:before {
	content: "\eab8";
}
.icone-blogger:before {
	content: "\eab9";
}
.icone-blogger2:before {
	content: "\eaba";
}
.icone-tumblr:before {
	content: "\eabb";
}
.icone-tumblr2:before {
	content: "\eabc";
}
.icone-yahoo:before {
	content: "\eabd";
}
.icone-tux:before {
	content: "\eabe";
}
.icone-apple:before {
	content: "\eabf";
}
.icone-finder:before {
	content: "\eac0";
}
.icone-android:before {
	content: "\eac1";
}
.icone-windows:before {
	content: "\eac2";
}
.icone-windows8:before {
	content: "\eac3";
}
.icone-soundcloud:before {
	content: "\eac4";
}
.icone-soundcloud2:before {
	content: "\eac5";
}
.icone-skype:before {
	content: "\eac6";
}
.icone-reddit:before {
	content: "\eac7";
}
.icone-linkedin:before {
	content: "\eac8";
}
.icone-linkedin2:before {
	content: "\eac9";
}
.icone-lastfm:before {
	content: "\eaca";
}
.icone-lastfm2:before {
	content: "\eacb";
}
.icone-delicious:before {
	content: "\eacc";
}
.icone-stumbleupon:before {
	content: "\eacd";
}
.icone-stumbleupon2:before {
	content: "\eace";
}
.icone-stackoverflow:before {
	content: "\eacf";
}
.icone-pinterest:before {
	content: "\ead0";
}
.icone-pinterest2:before {
	content: "\ead1";
}
.icone-xing:before {
	content: "\ead2";
}
.icone-xing2:before {
	content: "\ead3";
}
.icone-flattr:before {
	content: "\ead4";
}
.icone-foursquare:before {
	content: "\ead5";
}
.icone-paypal:before {
	content: "\ead6";
}
.icone-paypal2:before {
	content: "\ead7";
}
.icone-paypal3:before {
	content: "\ead8";
}
.icone-yelp:before {
	content: "\ead9";
}
.icone-file-pdf:before {
	content: "\eada";
}
.icone-file-openoffice:before {
	content: "\eadb";
}
.icone-file-word:before {
	content: "\eadc";
}
.icone-file-excel:before {
	content: "\eadd";
}
.icone-libreoffice:before {
	content: "\eade";
}
.icone-html5:before {
	content: "\eadf";
}
.icone-html52:before {
	content: "\eae0";
}
.icone-css3:before {
	content: "\eae1";
}
.icone-git:before {
	content: "\eae2";
}
.icone-svg:before {
	content: "\eae3";
}
.icone-codepen:before {
	content: "\eae4";
}
.icone-chrome:before {
	content: "\eae5";
}
.icone-firefox:before {
	content: "\eae6";
}
.icone-IE:before {
	content: "\eae7";
}
.icone-opera:before {
	content: "\eae8";
}
.icone-safari:before {
	content: "\eae9";
}
.icone-IcoMoon:before {
	content: "\eaea";
}