@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo usado para editar as listas e os menus
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
/*
    Listas comuns
*/
ol.lista, ul.lista{
    padding:0;
    margin:0 0 1.2em 1.5em;
}
ul.lista li, ol.lista li{
    padding:0.313em 0;
    margin:0;
}
ul.lista-icones{
    margin:0 0 1.2px 0;
    padding:0;
}
ul.lista-icones li{
    list-style-type:none;
    margin:0;
    padding:0.5em 0;
}
ul.lista-icones li [class*="icon-"]{
    padding-right: 0.5em;
}
ul.lista-bordas{
    margin:6px 0 1.2px 0;
    padding:0;
}
ul.lista-bordas li{
    list-style-type:none;
    margin: 0;
    padding:0.5em 0;
    border-width: 1px 0;
    border-color: #000;
    border-style: solid;
    margin-top: -1px;
    margin-bottom: -1px;
}
ul.lista-bordas li span{
    margin-right: 7px;
}
hr.pontilhada,.pontilhada li{border-style: dotted !important;}
hr.solida,.solida li{border-style: solid !important;}
hr.tracejada,.tracejada li{border-style: dashed !important;}  
/*
    Menu horizontal
*/
/*  Remover ícones das listas */
.menu-horizontal ol{
    font-size: 0;
    list-style:none;
    padding:0;
    margin:0;
}
/* Posicionar um item do lado do outro*/
.menu-horizontal li{
    float: left;
    font-size: 16px;
    position: relative;
}
/* Transformar os itens em "botões"*/
.menu-horizontal a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    height: 1.3em;
    padding: 0.875em 0.625em 0.375em 0.625em;
}
/* Efeito ao passar o mouse no item*/
.menu-horizontal li:hover > a{
    background: #00629D;
}
/* Compatibilizar a declaração acima no IE6 */
*html .menu-horizontal li a:hover{
    color: #00629D;
}
/* Propriedades do Sub-menu */
.menu-horizontal ul{
    list-style: none;  
    background: #3696D0;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    left: 0;
    z-index: 99999;
}
/* Submenu ao passar o mouse sobre os itens*/
.menu-horizontal ul a:hover{
    background: #003966;
    height: auto;
}
/* Configurações do primeiro item (sem seleção)*/
.menu-horizontal ul li:first-child > a:after{
    color: transparent;
    border-left: 0.625em solid transparent;
    border-right: 0.625em solid transparent;
    border-bottom: 0.625em solid #3696D0;
    content: '';
    position: absolute;
    left: 0.500em;
    top: -0.625em;
    width: 0;
    height: 0;
    margin-right:2.500em;
}
/* Configurações do primeiro item (com seleção)*/
.menu-horizontal ul ul li:first-child a:after{
    border-bottom: 0.625em solid transparent;
    border-top: 0.625em solid transparent;
    border-right: 0.688em solid #3696D0;
    left: -0.625em;
    top: 0.628em;
    width: 0;
    height: 0;
    border-left: 0;
}
/* Ao passar o mouse sobre o submenu nível 1*/
.menu-horizontal ul li:first-child a:hover:after{
    border-bottom-color: #003966;     
}
/* Ao passar o mouse sobre o submenu nível n*/
.menu-horizontal ul ul li:first-child a:hover:after{
    border-right-color: #003966; 
    border-bottom-color: transparent; 	
}
/*  Itens */
.item{
    background: #3696D0;
    border-bottom: 0.188em solid #003966;
    height: 2.50em;
    line-height: 1;
}
.item-ativo{
    background: #003966;
    border-bottom: 0.188em solid #3696D0;
    height: 2.50em;
    line-height: 1;
}
.item-texto{
    display: inline-block;
    padding: 0 2px;
}
/*Mostrar o submenu ao passar o mouse no item*/
.menu-horizontal li:hover > ul{
    display: block;
}
/*Posicionamento e largura do submenu*/
.menu-horizontal ul ul{
    top: 0;
    left: 11.2em;
}
/*Itens do submenu na vertical*/
.menu-horizontal ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    line-height: 1;
}
/*Configurações dos itens do submenu*/
.menu-horizontal ul a{    
    padding: 0.625em;
    width: 10em;
    height: auto;
    display: block;
    float: none;
    text-transform: none;
    white-space: normal;
    word-wrap:break-word;
}
 /*Compatibilizar a declaração acima no IE6 */
*html .menu-horizontal ul a{    
    height: 0.625em;
}
 /*Compatibilizar a declaração acima no IE7 */
*:first-child+html .menu-horizontal ul a{    
    height: 0.625em;
}
/* Clear floated elements */
.menu-horizontal:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .menu-horizontal             { zoom: 1; } /* IE6 */
*:first-child+html .menu-horizontal { zoom: 1; } /* IE7 */
.barra-menu{
    background-color: #3696D0;
    border-bottom: 3px solid #003966;
    height: 44px;
}
/*
    Declarações para a resposividade do menu
*/
@media (max-width: 680px){
    .item-texto{
        display: none;
    }
    .item-ativo .item-texto{
        display: inline-block;
    }
    .menu-horizontal a {
        padding: 0.875em 0.5em 0.375em 0.5em;
        height: 21px !important;
    }
    .menu-horizontal ul li:first-child > a:after{
        display: none;
    }
    .menu-horizontal ul{
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }
    .menu-horizontal li{
        position: static;
    }
    .menu-horizontal ul a{    
        padding: 0.5em;
        height: auto;
        width: auto;
    }
    .menu-horizontal ul ul{
        display: block;
        float: none;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 1em;
        box-sizing: border-box;
        width: auto;
    }
}

/*
    Menu vertical
*/
/*  Remover ícones das listas */
.menu-vertical ol{
    font-size: 0;
    list-style:none;
    padding:0;
    margin:0;
}
/* Posicionar um item do lado do outro*/
.menu-vertical li{
    font-size: 16px;
    position: relative;
}
/* Transformar os itens em "botões"*/
.menu-vertical a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    min-height: 1.3em;
    height: auto;
    padding: 0.625em;
}
/* Efeito ao passar o mouse no item*/
.menu-vertical li:hover > a{
    background: #00629D;
}
/* Compatibilizar a declaração acima no IE6 */
*html .menu-vertical li a:hover{
    color: #00629D;
}
/* Propriedades do Sub-menu */
.menu-vertical ul{
    list-style: none;  
    background: #3696D0;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 99999;
}
/* Submenu ao passar o mouse sobre os itens*/
.menu-vertical ul a:hover{
    background: #003966;
    height: auto;
}
/* Configurações do primeiro item (sem seleção)*/
.menu-vertical ul li:first-child > a:after{
    color: transparent;
    border-bottom: 0.625em solid transparent;
    border-top: 0.625em solid transparent;
    border-right: 0.688em solid #3696D0;
    content: '';
    position: absolute;
    left: -0.625em;
    top: 0.628em;
    width: 0;
    height: 0;
    margin-right:2.500em;
}
/* Configurações do primeiro item (com seleção)*/
.menu-vertical ul ul li:first-child a:after{
    border-bottom: 0.625em solid transparent;
    border-top: 0.625em solid transparent;
    border-right: 0.688em solid #3696D0;
    left: -0.625em;
    top: 0.628em;
    width: 0;
    height: 0;
    border-left: 0;
}
/* Ao passar o mouse sobre o submenu nível 1*/
.menu-vertical ul li:first-child a:hover:after{
    border-right-color: #003966; 
}
/* Ao passar o mouse sobre o submenu nível n*/
.menu-vertical ul ul li:first-child a:hover:after{
    border-right-color: #003966; 
    border-bottom-color: transparent; 	
}
/*  Itens */
.item-vertical{
    background: #3696D0;
    border-left: 0.188em solid #003966;
    height: auto;
}
.item-vertical-ativo{
    background: #003966;
    border-left: 0.188em solid #3696D0;
}
.item-vertical-texto{
    display: inline;
    padding: 0 0.125em;
}
/*Mostrar o submenu ao passar o mouse no item*/
.menu-vertical li:hover > ul{
    display: block;
}
/*Posicionamento e largura do submenu*/
.menu-vertical ul ul{
    top: 0;
    left: 100%;
}
/*Itens do submenu na vertical*/
.menu-vertical ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
}
/*Configurações dos itens do submenu*/
.menu-vertical ul a{    
    width: 12em;
}
 /*Compatibilizar a declaração acima no IE6 */
*html .menu-vertical ul a{    
    height: 0.625em;
}
 /*Compatibilizar a declaração acima no IE7 */
*:first-child+html .menu-vertical ul a{    
        height: 0.625em;
}
/* Clear floated elements */
.menu-vertical:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html .menu-vertical             { zoom: 1; } /* IE6 */
*:first-child+html .menu-vertical { zoom: 1; } /* IE7 */   

/* menu responsivo */
.menu-resp{
    padding: 0.625em;
    font-size: 16px;
    color: #ffffff;
    background: #3696D0;
    display: none;
    cursor: pointer;
    text-decoration: none !important;
    color: #FFFFFF !important;
    border-bottom: 3px solid #003966;
}
.menu-resp:hover{
    background: #447FC0;
}
.fechar-menu{
    font-size: 10px;
    color: #003966 !important;
    background: #D0DFEF;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em 0.5em 0.2em !important;
    border-radius: 0.2em;
    float: right;
    margin-top: -3.3em;
    margin-right: 1em;
    visibility: hidden;
}
.fechar-menu:hover{
    color: #D0DFEF !important;
    background: #003966;
}
.icon-expande:before{
    content: "\ea50";
    display: inline-block;
    transform: rotate(180deg) !important;
    vertical-align: middle;
    position: static;
    height: 0.6em;
}
.menu-vertical li:hover .icon-expande:before{
    content: "\ea50";
    display: inline-block;
    transform: rotate(0deg) !important;
    vertical-align: middle;
    position: static;
    height: 0.6em;
}

@media (max-width: 480px){
    .menu-resp{
        display: block;
    }
    .menu-vertical{
        display: none;
    }
    .menu-vertical:target{
        display: block;
    }
    .menu-vertical:target .fechar-menu{
        visibility: visible;
    }
    .menu-vertical ul li:first-child > a:after{
        display: none;
    }
    .menu-vertical li{
        position: static;
    }
    .menu-vertical ul a{    
        padding: 0.5em;
        height: auto;
        width: auto;
    }
    .menu-vertical ul{
        border: 0.063em solid #447FC0;
        border-left: 0.188em solid #003966;
        border-right: none;
    }
    .menu-vertical ul ul{
        border: none;
        padding-left: 0.5em;
    }
    .menu-vertical li:hover ul, .menu-vertical li:active ul{
        display: block;
        float: none;
        position: relative;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: auto;
    }

}