/*
    Arquivo de estilo proprio do unicafe
*/
/* 
    Created on : May 25, 2015, 9:31:53 AM
    Author     : luisfelipe
*/

/*
    Algumas bordas para o sistema
*/
.borda-azul {
	border: 1px solid #007CC2;
}

.borda-laranja {
	border: 1px solid #FF8824 !important;
}

.borda-cinza {
	border: 1px solid #F1F1F1 !important;
}

.borda-verde {
	border: 1px solid #007639 !important;
}

#modal {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.box-modal {
	background: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	margin-left: -20%;
	margin-top: -300px;
}

.box-modal-load {
	float: left;
	margin: 10px 10px;
	width: 80%;
}

.fechar {
	color: #CCC;
	cursor: pointer;
	border: 1px solid #CCC;
	border-radius: 7px;
	padding: 5px 10px;
	position: absolute;
	top: 2px;
	right: 2px;
}