@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo para formatar as caixas de alertas
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
/*
    Alertas para informes em geral (Azul)
*/
.alerta-ajuda{
    background:#5e99da;
    margin-bottom: 8px;
    text-align: left !important;
    clear: both;
}
.alerta-ajuda .icone{
    color: #FFFFFF;
    padding: 15px;
}
.alerta-ajuda .titulo-alerta{
    background:#d7e5f6;
    color:#5e99da;
    padding: 2px 10px;
    margin-top: -46px;
    margin-left: 46px;
}
.alerta-ajuda .subtitulo-alerta{
    background:#d7e5f6;
    font-style: italic;
    font-size: 0.85em;
    margin-left: 46px;
    padding: 0px 10px 1px 10px;
}
/*
    Alertas que solicitam atenção na operação (Laranja)
*/
.alerta{
    background:#f5893f;
    margin-bottom: 8px;
    text-align: left !important;
    clear: both;
}
.alerta .icone{
    color: #FFFFFF;
    padding: 15px;
}
.alerta .titulo-alerta{
    background:#fce1cf;
    color:#f5893f;
    padding: 2px 10px;
    margin-top: -46px;
    margin-left: 46px;
}
.alerta .subtitulo-alerta{
    background:#fce1cf;
    font-style: italic;
    font-size: 0.85em;
    margin-left: 46px;
    padding: 0px 10px 1px 10px;
}
/*
    Alertas que expressão êxito na operação (Verde)
*/
.alerta-sucesso{
    background:#299658;
    margin-bottom: 8px;
    text-align: left !important;
    clear: both;
}
.alerta-sucesso .icone{
    color: #FFFFFF;
    padding: 15px;
}
.alerta-sucesso .titulo-alerta{
    background:#c9e5d5;
    color:#299658;
    padding: 2px 10px;
    margin-top: -46px;
    margin-left: 46px;
}
.alerta-sucesso .subtitulo-alerta{
    background:#c9e5d5;
    font-style: italic;
    font-size: 0.85em;
    margin-left: 46px;
    padding: 0px 10px 1px 10px;
}
/*
    Alertas que expressão proibições/erros na operação (Vermelho)
*/
.alerta-erro{
    background:#ee3f43;
    margin-bottom: 8px;
    text-align: left !important;
    clear: both;
}
.alerta-erro .icone{
    color: #FFFFFF;
    padding: 15px;
}
.alerta-erro .titulo-alerta{
    background:#fbcfd0;
    color:#EE3F43;
    padding: 2px 10px;
    margin-top: -46px;
    margin-left: 46px;
}
.alerta-erro .subtitulo-alerta{
    background:#fbcfd0;
    font-style: italic;
    font-size: 0.85em;
    margin-left: 46px;
    padding: 0px 10px 1px 10px;
}
/* Alertas com tamanhos de ícones diferentes */
.icone ~ .titulo-alerta{
    margin: 0px 0px 0px 3px;
}
.icone ~ .subtitulo-alerta{
    margin: 0px 0px 0px 3px;
}
.ix8 ~ .titulo-alerta{
    margin-top: -38px;
    margin-left: 38px;
    padding: 0px 10px;
}
.ix8 ~ .subtitulo-alerta{
    margin-left: 38px;
    padding: 0px 10px;
    font-size: 0.74em;
}
.ix16 ~ .titulo-alerta{
    margin-top: -46px;
    margin-left: 46px;
    padding: 2px 10px 0px 10px;
}
.ix16 ~ .subtitulo-alerta{
    margin-left: 46px;
    padding: 1px 10px 2px 10px;
}
.ix24 ~ .titulo-alerta{
    margin-top: -54px;
    margin-left: 54px;
    padding: 4px 10px 0px 10px;
}
.ix24 ~ .subtitulo-alerta{
    margin-left: 54px;
    padding: 3px 10px;
}
.ix32 ~ .titulo-alerta{
    margin-top: -62px;
    margin-left: 62px;
    padding-top: 8px;
}
.ix32 ~ .subtitulo-alerta{
    margin-left: 62px;
    padding: 1px 10px 10px 10px;
}
.ix48 ~ .titulo-alerta{
    margin-top: -78px;
    margin-left: 78px;
    padding: 8px 10px;
    font-size: 1.25em;
}
.ix48 ~ .subtitulo-alerta{
    margin-left: 78px;
    padding: 5px 10px;
    padding: 1px 10px 12px 10px;
    font-size: 1em;
}
.ix64 ~ .titulo-alerta{
    margin-top: -94px;
    margin-left: 94px;
    padding: 10px;
    font-size: 1.5em;
}
.ix64 ~ .subtitulo-alerta{
    margin-left: 94px;
    padding: 0px 10px 14px 10px;
    font-size: 1.25em;
}
.ix96 ~ .titulo-alerta{
    margin-top: -126px;
    margin-left: 126px;
    padding: 14px 10px;
    font-size: 2.25em;
}
.ix96 ~ .subtitulo-alerta{
    margin-left: 126px;
    padding: 2px 10px 14px 10px;
    font-size: 1.5em;
}
.ix128 ~ .titulo-alerta{
    margin-top: -158px;
    margin-left: 158px;
    padding: 20px 10px;
    font-size: 2.75em;
}
.ix128 ~ .subtitulo-alerta{
    margin-left: 158px;
    padding: 0px 10px 15px 10px;
    font-size: 2em;
}
/*
    Tooltips
*/
.tooltip-dica .titulo-tooltip{
    background: #447FC0;
    color: #FFF;
    text-align: center;
}
.tooltip-dica .conteudo-tooltip{
    background: #D0DFEF;
    color: #000000;
}
.tooltip-aviso .titulo-tooltip{
    background: #E06E19;
    color: #FFF;
    text-align: center;
}
.tooltip-aviso .conteudo-tooltip{
    background: #fce1cf;
    color: #000000;
}
.tooltip-erro .titulo-tooltip{
    background: #D02130;
    color: #FFF;
    text-align: center;
}
.tooltip-erro .conteudo-tooltip{
    background: #FBCFD0 ;
    color: #000000;
}
.tooltip-sucesso .titulo-tooltip{
    background: #09893E;
    color: #FFF;
    text-align: center;
}
.tooltip-sucesso .conteudo-tooltip{
    background: #C9E5D5;
    color: #000000;
}
.caixa-tooltip {
    line-height:1;
    z-index:9999;
    display:none;
    width:auto;
    line-height:1; 
    word-break: keep-all;
    position:absolute;
    margin-left: 16px;
    margin-top: -7px;
}
button + .caixa-tooltip{
    margin-top: 2px;
    margin-left: 12px;
}
input + .caixa-tooltip{
    margin-top: 0px;
    margin-left: 12px;
}
.titulo-tooltip {
    display: block;
    font-size: 18px;
    padding: 0.5em;
}
.tooltip-dica:hover .caixa-tooltip, .tooltip-aviso:hover .caixa-tooltip, .tooltip-erro:hover .caixa-tooltip, .tooltip-sucesso:hover .caixa-tooltip{
    display:inline-block;
}
.conteudo-tooltip{
    color: #000;
    display: block;
    font-size: 16px;
    padding: 0.5em;
    width:auto;
    position: absolute;
}
.tooltip-dica .titulo-tooltip:before{
    content: "";
    display: inline-block;
    margin-left: -18px;
    width: 0; 
    height: 0; 
    margin-top: -7px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    border-right: 16px solid #447FC0; 
    position: absolute;
}
.tooltip-erro .titulo-tooltip:before{
    content: "";
    display: inline-block;
    margin-left: -18px;
    width: 0; 
    height: 0; 
    margin-top: -7px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    border-right: 16px solid #D02130; 
    position: absolute;
}
.tooltip-aviso .titulo-tooltip:before{
    content: "";
    display: inline-block;
    margin-left: -18px;
    width: 0; 
    height: 0; 
    margin-top: -7px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    border-right: 16px solid #E06E19; 
    position: absolute;
}
.tooltip-sucesso .titulo-tooltip:before{
    content: "";
    display: inline-block;
    margin-left: -18px;
    width: 0; 
    height: 0; 
    margin-top: -7px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    border-right: 16px solid #09893E; 
    position: absolute;
}