@charset "UTF-8";
/*!
 * SPACSS 1.15.1-2 Beta
 *
 * Arquivo utilizado para formatar as tabelas
 *
 * Projetado e desenvolvido por Jose Olinda e Rafael Oliveira.
 * Direitos autorais (2015) SPA/DSI/Unilab
 */
/*
    Tabela Simples
*/
.tabela {
    border: 1px solid #5E99DA;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
.tabela caption {
    color: #000;
    font-size: 0.850em;
    padding: 1em 0;
    text-align: center;
}
.tabela td, .tabela th {
    border: 1px solid #5E99DA;
    border-width: 1px;
    font-size: 16px;
    margin: 0;
    padding: 0.5em 1em;
    word-break: break-all;
}
.tabela td:first-child, .tabela th:first-child {
    border-left-width: 0;
}
.tabela thead {
    background-color: #5E99DA;
    color: #FFF;
    text-align: left;
    vertical-align: bottom;
}
/*
    Quadro
*/
.quadro{
    border-width: 0 !important;
}
.quadro thead{
    background-color: transparent;
    color: #000;
}
.quadro td, .quadro th {
    border: 1px solid #5E99DA;
    border-width: 1px 0;
    font-size: 16px;
    margin: 0;
    padding: 0.5em 1em;
}
.quadro th{
    border-width: 2px 0 !important;
}
/*
    Borda Externa
*/
.borda-externa {
    border-width: 1px;
}
.borda-externa thead {
    background-color: transparent;
    color: #000;
}
.borda-externa td, .borda-externa th {
    border: 1px solid #5E99DA;
    border-width: 0;
    font-size: 16px;
    margin: 0;
    padding: 0.5em 1em;
}
/*
    Borda Horizontal
*/
.borda-horizontal {
    border-width: 1px;
}
.borda-horizontal td, .borda-horizontal th {
    border: 1px solid #5E99DA;
    border-width: 1px 0;
    font-size: 16px;
    margin: 0;
    padding: 0.5em 1em;
}
/*
    Borda Vertical
*/
.borda-vertical {
    border-width: 1px;
}
.borda-vertical td, .borda-vertical th {
    border: 1px solid #5E99DA;
    border-width: 0 1px;
    font-size: 16px;
    margin: 0;
    padding: 0.5em 1em;
}
/*
    Borda Vertical
*/
.zebrada tr:nth-child(2n) {
    background: #D0DFEF;
}