.pagina {
	min-height: 100%;
}
.ver-laboratorio {
    display: table;
    margin: 0 auto;
}
.maquina {
    width: 210px;
    height: 95px;
    display: inline-block;
}
.conteudo-maquina {
    border-width: thin;
    border-style: solid;
    border-color: #fff;
    box-sizing: border-box;
    margin: 2px;
    min-width: 150px;
}
.conteudo-maquina:hover {
    cursor: pointer;
}
.conteudo-maquina h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.conteudo-maquina h3 {
    margin: 0;
    font-weight: 500;
    text-align: center;
    border-top: 1px solid #f3f3f3;
}
.conteudo-maquina h3 span {
    padding: 2px 5px;
}
.maq-icone svg {
    display: block;
    width: 50px;
    height: 50px;
}
.fundo-azul {
	background: #91D8F6;
}
.fundo-marrom {
	background: #A45E4D;
}
.meio {
    position: relative;
    margin-left: 30%;
    margin-top: 20%;
}
/*
    Cores de bordas para as máquinas
*/
.conteudo-maquina:hover.borda-amarelo1{
    border-color:#FFDB69;
}
.conteudo-maquina:hover.borda-amarelo2{
    border-color:#FFCD0E;
}
.conteudo-maquina:hover.borda-amarelo3{
    border-color:#F6B80B;
}
/* Vermelho */
.conteudo-maquina:hover.borda-vermelho1{
    border-color:#FF5B5C;
}
.conteudo-maquina:hover.borda-vermelho2{
    border-color:#FF2E33;
}
.conteudo-maquina:hover.borda-vermelho3{
    border-color:#DD2326;
}
/* Laranja */
.conteudo-maquina:hover.borda-laranja1{
    border-color:#FFAB6B;
}
.conteudo-maquina:hover.borda-laranja2{
    border-color:#FF8824;
}
.conteudo-maquina:hover.borda-laranja3{
    border-color:#DE6B1A;
}
/* Marrom */
.conteudo-maquina:hover.borda-marrom1{
    border-color:#B4474D;
}
.conteudo-maquina:hover.borda-marrom2{
    border-color:#9C131D;
}
.conteudo-maquina:hover.borda-marrom3{
    border-color:#7C0D14;
}
/* Limão */
.conteudo-maquina:hover.borda-limao1{
    border-color:#ACDB6B;
}
.conteudo-maquina:hover.borda-limao2{
    border-color:#96D141;
}
.conteudo-maquina:hover.borda-limao3{
    border-color:#77A832;
}
/* Azul */
.conteudo-maquina:hover.borda-azul1{
    border-color:#3696D0;
}
.conteudo-maquina:hover.borda-azul2{
    border-color:#007CC2;
}
.conteudo-maquina:hover.borda-azul3{
    border-color:#00629D;
}
/* Verde */
.conteudo-maquina:hover.borda-verde1{
    border-color:#01AA6F;
}
.conteudo-maquina:hover.borda-verde2{
    border-color:#01934A;
}
.conteudo-maquina:hover.borda-verde3{
    border-color:#007639;
}
/* Azul marinho */
.conteudo-maquina:hover.borda-azul-marinho1{
    border-color:#276385;
}
.conteudo-maquina:hover.borda-azul-marinho2{
    border-color:#003966;
}
.conteudo-maquina:hover.borda-azul-marinho3{
    border-color:#002C4F;
}
/* Cinza */
.conteudo-maquina:hover.borda-cinza1{
    border-color:#F3F3F3;
}
.conteudo-maquina:hover.borda-cinza2{
    border-color:#C3C3C3;
}
.conteudo-maquina:hover.borda-cinza3{
    border-color:#939393;
}
/* Luz */
.conteudo-maquina:hover.borda-branco{
    border-color:#FFFFFF;
}
.conteudo-maquina:hover.borda-preto{
    border-color:#000000;
}

/*
    Cor de Fill para SVG
*/
.fill-amarelo1{
    fill:#FFDB69 !important;
}
.fill-amarelo2{
    fill:#FFCD0E !important;
}
.fill-amarelo3{
    fill:#F6B80B !important;
}
/* Vermelho */
.fill-vermelho1{
    fill:#FF5B5C !important;
}
.fill-vermelho2{
    fill:#FF2E33 !important;
}
.fill-vermelho3{
    fill:#DD2326 !important;
}
/* Laranja */
.fill-laranja1{
    fill:#FFAB6B !important;
}
.fill-laranja2{
    fill:#FF8824 !important;
}
.fill-laranja3{
    fill:#DE6B1A !important;
}
/* Marrom */
.fill-marrom1{
    fill:#B4474D !important;
}
.fill-marrom2{
    fill:#9C131D !important;
}
.fill-marrom3{
    fill:#7C0D14 !important;
}
/* Limão */
.fill-limao1{
    fill:#ACDB6B !important;
}
.fill-limao2{
    fill:#96D141 !important;
}
.fill-limao3{
    fill:#77A832 !important;
}
/* Azul */
.fill-azul1{
    fill:#3696D0 !important;
}
.fill-azul2{
    fill:#007CC2 !important;
}
.fill-azul3{
    fill:#00629D !important;
}
/* Verde */
.fill-verde1{
    fill:#01AA6F !important;
}
.fill-verde2{
    fill:#01934A !important;
}
.fill-verde3{
    fill:#007639 !important;
}
/* Azul marinho */
.fill-azul-marinho1{
    fill:#276385 !important;
}
.fill-azul-marinho2{
    fill:#003966 !important;
}
.fill-azul-marinho3{
    fill:#002C4F !important;
}
/* Cinza */
.fill-cinza1{
    fill:#F3F3F3 !important;
}
.fill-cinza2{
    fill:#C3C3C3 !important;
}
.fill-cinza3{
    fill:#939393 !important;
}
/* Luz */
.fill-branco{
    fill:#FFFFFF !important;
}
.fill-preto{
    fill:#000000 !important;
}