@CHARSET "UTF-8";

/*
CORES
        MARROM: #A45E4D rgb(164,94,77);
        AZUL1: ;
        AZUL2: #6DAFDB rgb(109,175,219);
*/
.acessibilidade {
	top: 0px;
	padding-top: 48px;
	margin-bottom: 0px;
}
.borda{
	margin-left:25%;
	width: 600px;
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 1px 3px #000;
	background-color: #fff;	
	position: relative;
	border-radius: 0px 0px 3px 3px;
	
}
.link_ajuda{
	
	margin-left:85%;
	background: #c0c0c0;
	
}
.topo {
	border: none;
	/* border-top: 4px solid #6DAFDB; */
	margin-bottom: -4px;
	position: relative;
	z-index: 999;
}

.linha-inicio {
	min-height: 400px;
}

.linha-inicio p {
	margin: 100px 0;
}

.linha-inicio p img {
	margin: auto;
}

#logo-unicaffe, #logo-universidade {
	width: 50%;
	display: inline-block;
	padding: 20px 0 10px;
}

#logo-unicaffe img, #logo-universidade img {
	width: 300px;
}

#logo-unicaffe {
	text-align: left;
	float: left;
}

#logo-universidade {
	text-align: right;
	float: right;
}

.unicaffe-menu {
	/* background: rgba(164,94,77,0.5); */
	-webkit-box-shadow: 0px 1px 10px 0px rgba(109, 175, 219, 0.4);
	-moz-box-shadow: 0px 1px 10px 0px rgba(109, 175, 219, 0.4);
	box-shadow: 0px 1px 10px 0px rgba(109, 175, 219, 0.4);
}

.unicaffe-menu ol {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.unicaffe-menu ol li {
	display: inline-block;
	margin: 0 4px;
	font-size: 18px;
	padding: 4px;
	position: relative;
	box-sizing: border-box;
}

.unicaffe-menu ol li a {
	padding: 8px 16px;
	display: block;
	color: #6DAFDB;
	text-decoration: none !important;
	font-weight: 400;
	border: thin solid #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
}

.unicaffe-menu ol li a:hover, .unicaffe-menu ol li a.ativo:hover {
	color: #A45E4D;
	border: thin solid #A45E4D;
	background: #ffffff;
}

.unicaffe-menu ol li a.ativo {
	color: #ffffff;
	border: thin solid #A45E4D;
	background: #A45E4D;
}


.unicaffe-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	position: absolute;
	left: 0;
	margin-top: 4px;
	z-index: 99999;
	background: #fff;
	border: thin solid #6DAFDB;
	border-radius: 4px;
	width: 100%;
	min-width: 100px;
	max-width: 320px;
}

.unicaffe-menu ul ul {
	left: 103%;
	left: calc(100% + 2px);
	top: 0;
	margin-top: 0px;
}

.unicaffe-menu ol li ul a:hover, .unicaffe-menu ol li ul a.ativo:hover {
	color: #fff;
	background: #6DAFDB;
	border: thin solid #6DAFDB;
	border-radius: 4px;
}

.unicaffe-menu ol li ul a.ativo {
	color: #A45E4D;
	border: thin solid #A45E4D;
	background: #fff;
	border-radius: 4px;
	font-weight: bold;
}

.seta-pra-cima:after, .seta-pra-cima:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}

.seta-pra-cima:before {
	top: -14px;
	right: 10px;
	/* If 1px darken stroke slightly */
	border-left: 11px solid transparent;
	border-bottom: 11px solid #6DAFDB;
	border-right: 11px solid transparent;
}

.seta-pra-cima:after {
	top: -13px;
	right: 11px;
	border-left: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
}

.unicaffe-menu ul ul:after, .unicaffe-menu ul ul:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}

.unicaffe-menu ul ul:before {
	left: -14px;
	top: 10px;
	/* If 1px darken stroke slightly */
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 11px solid #6DAFDB;
}

.unicaffe-menu ul ul:after {
	left: -13px;
	top: 11px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #fff;
}

.unicaffe-menu ul li {
	display: block;
	margin: 0;
	font-size: 16px;
	padding: 4px;
	position: relative;
	width: 100%;
}

.unicaffe-menu ul:first-child {
	background-color: yellow;
}

.unicaffe-menu ul li a {
	padding: 4px;
	display: block;
	color: #6DAFDB;
	text-decoration: none !important;
	font-weight: 400;
	border: none !important;
	border-radius: 0;
}

.unicaffe-menu li:hover>ul {
	display: block;
}

@media ( max-width : 1024px) {
	.linha-inicio p {
		margin: 50px 0;
	}
}

@media ( max-width : 640px) {
	#logo-unicaffe img, #logo-universidade img {
		width: 200px;
	}
	.linha-inicio p {
		margin: 25x 0;
	}
}

@media ( max-width : 420px) {
	#logo-unicaffe {
		text-align: center;
		display: block;
		margin: 0 auto;
		width: 200px;
		float: none;
	}
	#logo-universidade {
		display: none;
	}
	.linha-inicio p {
		margin: 10px 0;
	}
}

.relatorio {
	border: thin solid #eee;
}

a:LINK {
	color: #FFFFFF;
	text-decoration: underline;
}

a {
	color: #FFFFFF;
	text-decoration: underline;
}

a:HOVER {
	color: #FFFFFF;
	text-decoration: none;
}

a:VISITED {
	color: #FFFFFF;
	text-decoration: underline;
}

.confirmacao {
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	margin-left: 10px;
	margin-top: 200px;
	padding: 10px;
	width: 300px;
	height: 200px;
	border: 1px solid #d0d0d0;
	background-color: #FFFFFF;
}

.preto{
 
    font-size: 100%;
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 0.1em 0;
    padding: 0.438em 0.750em 0.2em;
    border-bottom: 0.3em solid #838783;
    vertical-align: bottom;
    cursor: pointer;
    color: #FFFFFF;

    background-color: #999e99;

}

.botao_atualizar{
 
    font-size: 100%;
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 0.1em 0;
    padding: 0.438em 0.750em 0.2em;
    border-bottom: 0.3em solid #c15baf;
    vertical-align: bottom;
    cursor: pointer;
    color: #FFFFFF;

    background-color: #efa7e2;

}
