@CHARSET "ISO-8859-1";

#modal {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.box-modal {
	background: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	margin-left: -20%;
	margin-top: -300px;
}

.box-modal-load {
	float: float;
	margin: 10px 10px;
	width: 1%;
}

.fechar {
	color: #CCC;
	cursor: pointer;
	border: 1px solid #CCC;
	border-radius: 7px;
	padding: 5px 10px;
	position: absolute;
	top: 2px;
	right: 2px;
}

.resolucao {
	width: 980px;
	margin: 0 auto;
}